body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-model: border-box;
}

.root {
  margin: 100px auto;
  width: 420px;
}

.game {
  position: relative;
}

.board {
  width: 400px;
  height: 400px;
  display: table;
  background: #C4EDB4;
  border-radius: 3px;
  padding: 10px;
  border-collapse: separate;
  border-spacing: 5px;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.5);
  border-radius: 100%;
  margin: 3px;
  padding: 3px;
}

.cell.white{
  background: #fff;
  box-shadow: none;
}

.cell.black{
  background: #000;
  box-shadow: none;
}

.players {
  display: flex;
  margin-top: 10px;
}

.player{
  flex: 1;
  text-align: center;
  border: 1px solid #efefef;
  padding: 10px;
  border-radius: 2px;
  margin: 10px;
}

.player.current {
  border: 1px solid #000;
}

.finished {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  font-size: 2em;
  text-align: center;
  padding-top: 2em;
  color: #555;
}
